<div>
  <div>
    <button class="btn btn-primary" type="button" (click)="toggleOddEvenNumber()">Show Odd Number</button>
    <ul class="list-group">
      <div *ngIf="onlyOdd">
        <li class="list-group-item" 
        [ngClass]="{odd: odd % 2 !== 0}"
        [ngStyle]="{backgroundColor: odd % 2 !== 0 ? 'yellow' : 'transparent'}"
        *ngFor="let odd of oddNumbers">
          {{ odd }}
        </li>
      </div>
      <div *ngIf="!onlyOdd">
        <li class="list-group-item" 
        [ngClass]="{even: even % 2 !== 0}"
        [ngStyle]="{backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'}"
        *ngFor="let even of evenNumbers">
          {{ even }}
        </li>
      </div>
    </ul>
  </div>
  <p appBasicHighlight> Let me style with basic highlight!</p>
  <p appBetterHighlight> Let me style with better highlight!</p>
</div>